.produtos-moda{
    background-color: #BB86FC;
    text-align: center;
    font-size: 15px;
    color: azure;
}

.produtos-casa{
    background-color: #00C4B4;
    text-align: center;
    font-size: 15px;
    color: azure;
}

.fundo{
    background-color: #424250;
    color: aliceblue;
    font-size: 15px;
}